[data-theme="dark"] {
  --background-color: #475b5a;
  --text-color: #DD614A;
}
:root {
  --background-color: #DD614A;
  --text-color: #475b5a;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
 body {
         background-color: #DD614A;
      }

      h1 {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            color: #475b5a;
            font-family: 'Montserrat', sans-serif;
        }
          
        section {
            padding: 0%;
            padding-top: 0;
            height: 100vh;
      }
          
        button {
            margin: 15px;
            color: #F48668 ;
          border-color: #DD614A !important;
          border-width: 3px;
            margin-bottom: 15px;
          border-radius: 12px;
        }
          
        button:hover {
            background-color: #DD614A !important;
        }
          
        textarea {
          background-color: #F48668 !important;
           resize: none; 
          outline: none;
          border: none;
          justify-content: center;
        }
              .flex-box {
            display: flex;
            justify-content: center;
        }    
      .yeet {
        color: black;
      }
